body {
  background-color: #000F1A;
  color: rgba(255, 255, 255, 0.75) !important;
}

body > .grid {
  height: 100%;
}

.image {
  margin-top: -100px !important;
}

.column {
  max-width: 600px;
}

.h1, .h2, .h3, .h4 {
  color: rgba(255, 255, 255, 0.75) !important;
}

.modal {
  color: #181818 !important;
}

.demist-label,
.submit {
  background-color: #00eB9a !important;
  color: #181818 !important;
}

.demist-label {
  margin-bottom: 12px !important;
}

.submit:hover {
  background-color: #00cc85 !important;
}
